h2 {
    margin-left: 5rem;
}

p {
    margin-left: 8rem;
}

.instagram-logo {
    margin-left: 8rem;
    height: 3rem;
    width: 3rem;
}
.google-logo {
    margin-left: 8rem;
    height: 3rem;
    width: 5rem;
}

@media only screen and (max-width: 400px) {
    h2 {
        margin-left: 1rem;
    }
    
    p {
        margin-left: 1rem;
    }
    
    
    .instagram-logo {
        margin-left: 1rem;
        height: 3rem;
        width: 3rem;
    }
    .google-logo {
        margin-left: 1rem;
        height: 3rem;
        width: 5rem;
    }
}



