h2 {
    margin-left: 5rem;
}

p {
    margin-left: 8rem;
}

.instagram-logo {
    margin-left: 8rem;
    height: 3rem;
    width: 3rem;
}
.google-logo {
    margin-left: 8rem;
    height: 3rem;
    width: 5rem;
}


