html{
    font-size: 16px;
}

body {
    background-color: aliceblue;
}

header {
    background-color: blue;
    color: aliceblue;
    display: flex;
    align-items: center;
    font-weight: bold;
  
}

#logo {
    font-size: 1.5rem;
    padding-left: 1rem;
}

ul {
    display: flex;
    margin-left: 55rem;
    
    
}

ul li {
    font-size: 1.5rem;
    list-style: none;
    margin-right: 2rem;

}

section {
    height: 40rem;
}

footer {
    background-color: blueviolet;
    text-align: center;
    padding: 0.5rem 0;
}