html{
    font-size: 16px;

}


body {
    max-width: 92rem;
    background-color:rgba(245, 245, 245, 0.1);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    font-weight: bold;
  
}

h1 {
    
    margin: 0.5rem auto;
    text-align: center;
    font-size: 2rem;
    padding-left: 1rem;
    height: 1rem;
}

menu {
    display: flex;
    margin-left: 40%;
    
    
}

.nav-item {
    font-size: 1.5rem;
    list-style: none;
    margin-right: 1.5rem;

}

.nav-link {
    color: black;
    text-decoration: none;
}

.nav-link:hover {
    background-color: gray;
    color: white;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 0.2rem 0.2rem;
    
}

h2 {
    margin-left: 5rem;
}

p {
    margin-left: 5rem;
}


.about-me-container {
    
    display: grid;
    align-items: center;
    grid-template: 40rem / 67% 33%; 
    gap: 0.6rem 1rem;

}

.about-me-text-container {
    
    grid-area: 1 / 1 / 2 / 2;
}

#about-me-image-container {
    
   grid-area: 1 / 2 / 2 / 3;
}

#about-me-image {
    height: 30rem;
    width: 25rem;
    border-radius: .5rem;
    margin-left: 3rem;
}

#projects {
padding: 3rem 0;
}

details {
    margin-left: 8rem;
    
    width: fit-content;
}

#skills {
padding: 3rem 0;
}

.html-css-js {
    margin-left: 8rem;
}

.html-css-js-logo {
    height: 8rem;
}

.java-logo {
    height: 8rem;
}

footer {
    text-align: center;
    padding: 0.5rem 0;
}

@media only screen and (max-width: 1460px) {
    body {
        max-width: 67rem;
    }
   
    menu {
        margin-left: 20%;
         
    }
    
}

@media only screen and (max-width: 1200px) {
   
    menu {
        margin-left: 8%;
         
    }

    .about-me-container {
    
        display:block;
        align-items: center;
        text-align: start;
        grid-template: 40rem / 67% 33%; 
        gap: 0.6rem 1rem;
    
    }

    #about-me-image {
        
        margin-left: 5rem;
    }

    
}

@media only screen and (max-width: 690px) {
   
    menu {
        display: block;  
    }
    
    h2 {
        margin-left: 0;
    }

    p {
        margin-left: 0;
    }

    #about-me-image {
        height: 25rem;
        width: 20rem;
        border-radius: .5rem;
        margin-left: 0;
    }  
}

@media only screen and (max-width: 400px) {

   menu {
    margin-top: 4rem;
   }
    nav {
        
        display: block;   
    }

    #about-me-image {
        height: 20rem;
        width: 15rem;
        border-radius: .5rem;
        margin-left: 0;
    }

    #projects {
        padding: 0;
        }
        
        details {
            margin-left: 1rem;
            
            width: fit-content;
        }
        
        #skills {
        padding: 0;
        }
        .html-css-js {
            margin-left: 0;
        }
        
        .html-css-js-logo {
            width: 10rem;
            height: 8rem;
        }
        
        
}
