html{
    font-size: 16px;
}

body {
    background-color:rgba(245, 245, 245, 0.1);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    font-weight: bold;
  
}

#logo {
    
    font-size: 1.5rem;
    padding-left: 1rem;
    height: 1rem;
}

menu {
    display: flex;
    margin-left: 60%;
        
}

.nav-item {
    font-size: 1.5rem;
    color: black;
    list-style: none;
    margin-right: 1.5rem;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: gray;
    color: white;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 0.2rem 0.2rem;
    
}

h2 {
    margin-left: 5rem;
}


#about-me {
    
    height: 40rem;
}

.about-me-container {
    display: grid;
    align-items: center;
    height: 40rem;
    width: 100%;
    grid-template: 40rem / 67% 33%;
    
    gap: 10px 15px;

}

.about-me-text-container {
    grid-area: 1 / 1 / 2 / 2;
}

.about-me-image-container {
   grid-area: 1 / 2 / 2 / 3;
}

.about-me-image {
    height: 38rem;
    width: 30rem;
    border-radius: .5rem;
}

footer {
    text-align: center;
    padding: 0.5rem 0;
}

