html{
    font-size: 16px;
}

body {
    background-color:rgba(245, 245, 245, 0.1);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    font-weight: bold;
  
}

#logo {
    position: fixed;
    font-size: 1.5rem;
    padding-left: 1rem;
}

menu {
    display: flex;
    margin-left: 60%;
        
}

.nav-item {
    font-size: 1.5rem;
    color: black;
    list-style: none;
    margin-right: 1.5rem;
}

a {
    text-decoration: none;
}

a:hover {
    background-color: gray;
    color: white;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 0.2rem 0.2rem;
    
}

h2 {
    margin-left: 5rem;
}


#about-me {
    height: 30rem;
}

footer {
    text-align: center;
    padding: 0.5rem 0;
}

